{% if is_granted('ROLE_GESTIONNAIRE') %}
    <!DOCTYPE html>
    <html>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            {% block stylesheets %}
                <link rel="stylesheet" type="text/css" href="{{ asset("assets/css/gestionnaire.css") }}" />
            {% endblock %}
            <title>{% block title %}Vetux-Line{% endblock %} - Espace Gestionnaire</title>
        {% endblock %}
    </head>
    <body>
    {% block body %}
        <header>
            <div class="wrapper">
                <div class="logo">
                    <img src="{{ asset("assets/images/logo.png") }}" alt="">
                </div>
                <ul class="nav-area">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    {% if is_granted('ROLE_GESTIONNAIRE') %}
                        <li><a href="{{ path('fusionpage') }}">Espace Fusionnage</a></li>
                    {% endif %}
                    {% if app.user %}
                        <li><a href="{{ path('security_logout') }}">Déconnexion</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="content">
                <h1>Bienvenue {{ app.user.username }} sur la page dédiés aux gestionnaires du site !</h1>
                <br>
                <h2>Commencer à importer et à fusionner vos fichiers CSV dès maintenant !</h2>
                <br><br>
                <form class="form" action="{{ path('uploadFile') }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />
                    <div>
                        <label for="csvFileUpload" class="form_label">
                            <span class="form_text">Choisissez votre premier fichier CSV</span>
                            <input class="form_input" type="file" name="csvFileUpload" id="csvFileUpload" accept=".csv">
                        </label>
                    </div>
                    <br><br>
                    <div>
                        <label for="csvFileUpload" class="form_label">
                            <span class="form_text">Choisissez votre deuxième fichier CSV</span>
                            <input class="form_input" type="file" name="csvFileUpload" id="csvFileUpload" accept=".csv">
                        </label>
                    </div>
                    <br><br>
                    <div>
                        <label class="form_label">
                            <span class="form_text">Télécharge tes fichiers CSV !</span>
                            <input class="form_input" type="submit">
                        </label>
                    </div>
                </form>
            </div>
        </header>
    {% endblock %}
    </body>
    </html>
{% endif %}